@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* === RESET === */
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  max-width: 900px;
  margin: auto;
  background-color: antiquewhite;
  font-size: 1.2rem;
}

header {
  text-align: center;
  padding: 20px;
}
header h1 {
  font-size: 3rem;
}

#newList {
  background-color: wheat;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#listContainer {
  background-color: wheat;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
