@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* === RESET === */
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  max-width: 900px;
  margin: auto;
  background-color: antiquewhite;
}

header {
  text-align: center;
  padding: 20px;
}
